* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #b8c8d7;
}

header {
  background-color: #202020;
  color: #ffffff;
  padding: 1rem;
  text-align: center;
}

header h1 {
  margin-bottom: 1rem;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

nav ul {
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: space-between;
}

nav a {
  color: #ffffff;
  text-decoration: none;
  padding: 0.5rem 1rem;
  display: block;
  flex: 1;
  text-align: center;
}

nav a:hover {
  background-color: #555555;
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem;
}

main h1 {
  text-align: center;
  margin: 1.5rem 0;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.temple-card {
  background: #bfd1e2;
  padding: 1rem;
  border-radius: 8px; 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.30); 
  overflow: hidden; 
}

.temple-image {
  width: 100%;
  height: 200px;            
  object-fit: cover;       
  border-radius: 6px;      
  display: block;
}

/* INFO DEL TEMPLO */
.temple-info {
  margin-top: 0.5rem;
}

.temple-name {
  text-align: center;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.temple-detail {
  font-size: 0.9rem;
}

footer {
  background-color: #202020;
  color: #ffffff;
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
}

@media (min-width: 768px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    text-align: left;
  }

  header h1 {
    margin-bottom: 0;
  }

  .gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}